{% extends "allianceauth/base-bs5.html" %}

{% load theme_tags %}

{% block page_title %}
    {{ error_title }}
{% endblock page_title %}

{% block content %}
    <div class="d-flex flex-column" style="height: calc(100vh - {% header_padding_size %}); margin-top: -1rem; margin-bottom: -1rem;">
        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
            <div>
                {% include "framework/header/page-header.html" with title=error_title %}

                <div class="text-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="150"
                        height="150"
                        fill="currentColor"
                        class="bi bi-exclamation-triangle"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"
                        />
                        <path
                            d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
                        />
                    </svg>
                </div>

                <p class="text-center">{{ error_message }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
